@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@font-face {
    font-family: 'Army';
    src: url(../fonte/White\ Army.ttf) format(opentype);
    font-weight: normal;
}

:root {
    --cor0: #1d3557;
    --cor1: #457b9d;
    --cor2: #a8dadc;
    --cor3: #f1faee;
    --cor4: #b82f3a;

    --fonte-padrão: Arial, sans-serif;
    --fonte-destaque: 'Anton', cursive;
    --fonte-army: 'Army', cursive;            
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--fonte-padrão);
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor0));
}

 header {
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor3));
    text-align: center;   
 }


 header h1 {
    font-family: var(--fonte-destaque);
    font-size: 3em;
    text-decoration: underline;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.288);
 }

 header p {
    font-family: var(--fonte-destaque);
    font-size: 2em;
    padding-bottom: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.288);
 }

 nav {
    background-color: var(--cor0);
    padding: 10px 10px 10px 30px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.315);
 }

 nav > a {
    font-family: var(--fonte-padrão);
    color: var(--cor3);
    font-family: var(--fonte-padrão);
    font-weight: bold;
    font-size: 1em;
    padding: 10px;
    text-decoration: none;
    transition-duration: 0.5s;
 }

 nav a:hover {
    color: var(--cor0);
    text-decoration: underline;
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
    border-radius: 10px;
 }

 main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    background-color: rgb(223, 232, 236);
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.432);
    border-radius: 0px 0px 10px 10px;
 }

 main h1 {
    color: var(--cor0);
    font-family: var(--fonte-army);
    font-weight: normal;
    font-size: 4em;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.288);
 }

 main h2 {
    background-image: linear-gradient(to left, var(--cor1), var(--cor2));
    color: var(--cor4);
    font-family: var(--fonte-army);
    font-weight: normal;
    font-size: 3em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.288);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
 }

 main p {
    text-align: justify;
    font-family: var(--fonte-padrão);
    font-size: 1em;
    font-weight: bold;
    line-height: 1.5em;
    text-indent: 30px;
    padding: 10px;
 }

 #container1 {
   display: flex;
   flex-direction: column;
 }

.cd1 {
   display: flex;
   flex-direction: row;
}

.c1 {
   margin-top: 10px;
   margin-bottom: 5px;
}

 #container2 {
   display: flex;
   flex-direction: column;
 }

 .cd2 {
   display: flex;
   flex-direction: row;
}

.c4 {
   margin-top: 10px;
}
 aside {
    background-color: var(--cor2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.288);
    margin-top: 10px;
    padding: 20px 20px 5px 20px;
    border-radius: 10px;
 }
 
 aside h3 {
    color: var(--cor0);
    font-family: var(--fonte-army);
    font-weight: normal;
    font-size: 2.5em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.288);
}
 aside p {
    font-family: var(--fonte-padrão);
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1.5em;
    text-indent: 30px;
    padding: 10px 5px;
 }

 aside ul {
    font-family: var(--fonte-padrão);
    font-size: 1.5em;
    font-weight: normal;
    list-style-position: inside;
    columns: 2;
 }

 aside a {
    text-decoration: none;
 }

 aside a:hover {
    text-decoration: underline;
 }

 footer {
    background-color: var(--cor2);
    color: var(--cor0);
    font-family: var(--fonte-army);
    font-size: 1.5em;
    font-weight: normal;
    text-align: center;
    padding: 8px;
}


